.font-size{
    font-size: x-large;
    margin-left: 25%;
}  
.font-to{
margin-left: 10px;
/* color: aqua;    */
}

.font-amount{
    margin-left: 60px;
}

.span-on{
    margin-left: 60px;
}

.font-p{
    font-size: 20px;
}