.navbar-style{
    background-color: #343A40;
    height: 80px ;
    font-size: medium;
} 

.navbar-color{
    color: #E1E8EB;
}

.navbar-color:hover{
    color: limegreen;
}

.footer-height{
    /* height: 80px; */
    color: #E1E8EB;
    background-color: #343A40;
}

.brand-size{
    font-size: xx-large;
    margin-left: 50px;
}

.footer-font{
    font-size: large;
}

body{
    background-color: #E1E8EB
}

.footer{
    position: absolute;
    top: 100%;
    width: 100%;
    height: 80px;
    margin-top: 30px;
    background-color:#343A40;
}

body::after{
    content: '';
    display: none;
    height: 80px;
}