input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none;
}

input{
    width: 350px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}

input[type=submit]{
    width: 200px;
    margin-top: 15px;
    border-radius: 6px;
}

input[type=submit]:hover{
    margin-top: 15px;
    background-color: limegreen;
    font-weight: bold;
    color: white;
}

label{
    font-size: 20px;
    font-weight: 500;
}

input:focus{
    outline: none;
}

.success{
    border-color: greenyellow;
}

.error{
    border-color: red;
}

h4{
    font-size: 20px;
}